[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
xgboost = {path = "xgboost-1.6.2.dev0-cp38-cp38-linux_x86_64.whl", platform_system = "== 'Linux'"}
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
click = "*"

[dev-packages]
black = "*"
pyinstrument = "*"

[requires]
python_version = "3.8"
